<!doctype html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

    <title>Simcen</title>
</head>

<body>
    <main>
        <!--Header-->
        <section class="py-5 text-center container">
            <div class="row py-lg-1">
                <h1 class="fw-light"> Admin dashboard</h1>
            </div>
        </section>

        
        <div class="py-5 bg-light">
            <div class="container">
                <div class="justify-content-center row g-3">

                    <div class="col-sm-12">
                        <!--Tabs-->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <!--Register tab-->
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="signupMenu-tab" data-bs-toggle="tab" data-bs-target="#signupMenu" type="button" role="tab">Signup Page</button>
                            </li>
                            <!--User tab-->
                            <li class="nav-item">
                                <button class="nav-link" id="usersMenu-tab" data-bs-toggle="tab" data-bs-target="#UsersMenu" type="button" role="tab">Users</button>
                            </li>
                        </ul>

                        <div class="tab-content row">
                            <div class="tab-pane fade show active" id="signupMenu"  role="tabpanel" tabindex="0">
                                <div class="col-md-12 text-center">
                                    <h1>Signup</h1>
                                </div>
                                <!--Register submit action-->
                                <form action="/api/admin/user/register" method="post" name="Singup">

                                    <div class="form-group">
                                        <!--Input email-->
                                        <label for="InputPassword">E-mail</label>
                                        <input type="user" name="userMail" id="userMail" class="form-control"
                                            aria-describedby="emailHelp" placeholder="Enter E-mail" />
                                        <!--Input Password-->
                                        <label for="InputPassword">Password</label>
                                        <input type="password" name="password" id="password" class="form-control"
                                            aria-describedby="passwordHelp" placeholder="Enter Password" />
                                        <!--Input Firstname-->
                                        <label for="Input FirstName">FirstName</label>
                                        <input type="text" name="firstName" id="firstName" class="form-control"
                                            aria-describedby="firstnameHelp" placeholder="Enter Firstname" />
                                        <!--Input LastName-->
                                        <label for="InputLastname">Lastname</label>
                                        <input type="text" name="lastName" id="lastName" class="form-control"
                                            aria-describedby="lastNameHelp" placeholder="Enter Lastname" /> <br>
                                    </div>
                                    <!--Clearance level-->
                                    <div class="form-group text-center">
                                        <label for="InputAdmin">User type</label>
                                        <select name="admin" class="form-select select w-45" aria-label="Default select example">
                                            <option value="0">Viewer</option>
                                            <option value="1">Stagiaire</option>
                                            <option value="2">Stage Begeleider</option>
                                            <option value="3">Developer</option>
                                        </select><br>
        
                                        <div class="col-md-12 text-center ">
                                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Singup</button>
                                        </div>
                                    </div>
        
                                    <% if(locals.errMsg) { %>
                                        <p class=" h5 mt-3 text-danger"><%= locals.errMsg %></p>
                                    <% }else{ %>
                                        <br><br><br>
                                    <% } %>
                                </form>
                            </div>                       
                            <div class="tab-pane fade" id="UsersMenu"  role="tabpanel" tabindex="0">
                               <h1>Users</h1>
                            
                            <div>
                                <% if(user.length > 0){ 
                                    user.forEach(user => { %>
                                        <h3><%= user.fullName %></h3>
                                        <p><%= user.email%></p>
                                        <p><%= user._id %></p>    
                                    <%});%> 
                                    <%}else{%>
                                        <p>there a no users</p>
                                        <%}%>
                            </div>
                        </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous">
    </script>

</body>
</html>