<html lang="en">
   <%- include("./partials/head.ejs") %>
<body>
    <h1></h1>
    <%- include("./partials/nav.ejs") %>


    <div class="container">

        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Thumbnail Gallery</h1>
      
        <hr class="mt-2 mb-5">
        <div class="row text-center text-lg-start">
            <div class="col-lg-3 col-md-4 col-6">
                <a class="d-block mb-4 h-100" href="/folder/buildings">
                    <img style="background-color: transparent !important;" class="img-fluid" src="3767084.png" >
                    <h1>buildings</h1>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a class="d-block mb-4 h-100" href="/folder/items">
                    <img style="background-color: transparent !important;" class="img-fluid" src="3767084.png" >
                    <h1>Items</h1>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a class="d-block mb-4 h-100" href="/folder/Vehicles">
                    <img style="background-color: transparent !important;" class="img-fluid" src="3767084.png" >
                    <h1>Vehicles</h1>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a class="d-block mb-4 h-100" href="/folder/Weapons">
                    <img style="background-color: transparent !important;" class="img-fluid " src="3767084.png" >
                    <h1>Weapons</h1>
                </a>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>