<html lang="en">

  <%- include("./partials/head.ejs") %>


<body>
  
    <h1></h1>
    <%- include("./partials/nav.ejs") %>
    <br><br><br><br>
      <div class="container container-table">
        <div class="row">
          <div class="col">
            <div class="p-1 text-center .bg-secondary bg-gradient">
            <h1 class="p-2 bg-dark bg-gradient">Waar voor is deze site</h1>
            <p class="p-2 bg-dark bg-gradient">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
               Vel quis eaque, illo dolores laborum repellat eveniet eum? Ducimus eius, rerum, cumque
                voluptatum tempore totam placeat omnis ex minus, delectus aut! Lorem ipsum dolor sit amet 
                consectetur, adipisicing elit. Sapiente placeat facere impedit officiis ipsam, rerum magnam 
                nobis nihil veritatis mollitia consequatur eaque ea, enim porro laborum cum. Eius, optio inventore.</p>
              </div>
          </div>
          <div class="col">
            <div class="p-1 text-center .bg-secondary bg-gradient">
            <h1 class="p-2 bg-dark bg-gradient">Hoe werkt het</h1>
            <p class="p-2 bg-dark bg-gradient">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi vitae amet error repellendus
               perferendis aspernatur! Dolores molestias quisquam tempora enim aperiam in, nisi facilis at quia fugiat quos. Beatae, rem?</p>
               </div>
          </div>
        </div> <br><br><br>
        <div class="row">
          
            <h1 class="w-100 p-2 bg-dark bg-gradient">Iets</h1>
        </div>
      </div>
     <%- include("./partials/footer.ejs") %>
</body>
</html>