<html lang="en">
<head>
  <%- include("./partials/head.ejs") %>
</head>

<body>
  
    <h1>blogs</h1>
    <%- include("./partials/nav.ejs") %>
    <h2>hello my friends</h2>
     <%- include("./partials/footer.ejs") %>
</body>
</html>