<!DOCTYPE html>
<html lang="en">
  

    <%- include("./partials/head.ejs") %>

<body>
    <h1>To Upload Image on mongoDB</h1>
    <%- include("./partials/nav.ejs") %>

    <hr>
    <div>
        <form action="/picture/upload" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Image Title</label>
                <input type="text" id="name" placeholder="Name" 
                       value="" name="name" required>
            </div>
            <div>
                <label for="InputFolder">Choose folder</label>
                <select name="folder" id="folder" class="" aria-label="Default select example">
                    <option value="0">Buildings</option>
                    <option value="1">Items</option>
                    <option value="2">Vehicles</option>
                    <option value="3">Weapons</option>
                </select><br>
            </div>
            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image" 
                       name="image" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
      <%- include("./partials/footer.ejs") %>
</body>
  
</html>