body{
    background-color: aqua;
}

.details{
    position: relative;
}

.delete{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 8px;
}
.delete:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.gal-img{
    width:300px;
    margin:50px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userImage{
    height: 150px!important;
    width: auto!important;
    float:right; 
}